 /*default styling  */
 html{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 header h1{
     font-weight: 450;
 }

 header{
     display:flex;
     justify-content:space-between ;
     margin: 0 3rem;
 }
 nav{
     position: relative;
     top: 1rem;
     right: 3rem;
     width: 20rem;

 }

ul{
    display:flex;
    justify-content: space-between;
}
li{
    list-style: none;
    font-size: 1.5rem;
}
.showcase_img{
    width: 95vw;
    margin: 1rem;
  
}
article{
    display:flex;
    margin: 1rem;
}
.container{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    
}
h2{
    font-weight: 500;
}
p{
    font-size: 1.5rem;
    padding-left: 2rem;
}

footer{
    background-color: black;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}